@model WebStore.Domain.ViewModels.OrderDetailsViewModel
@{
    ViewData["Title"] = "Корзина";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div><!--/breadcrums-->
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @{
                    var sumCart = 0m;
                }
                @foreach (var (item, itemsCount) in Model.CartViewModel.Items)
                {
                    sumCart += itemsCount * item.Price;
                    <tr>
                        <td class="cart_product">
                            <a asp-action="View"
                               asp-controller="Catalog"
                               asp-route-id="@item.Id">
                                <img src="~/images/shop/@item.ImageUrl" alt="@item.Name">
                            </a>
                        </td>
                        <td class="cart_description">
                            <h4>
                                <a asp-action="View"
                                   asp-controller="Catalog"
                                   asp-route-id="@item.Id">
                                    @item.Name
                                </a>

                            </h4>
                            <p>Web ID: @item.Id</p>
                        </td>
                        <td class="cart_price">
                            <p>@item.Price.ToString("C")</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a asp-controller="Cart"
                                   asp-action="AddToCart"
                                   asp-route-id="@item.Id"
                                   asp-route-returnUrl="@Context.Request.Path"
                                   class="cart_quantity_up">
                                    +
                                </a>

                                <input class="cart_quantity_input" type="text" name="quantity" value="@itemsCount" autocomplete="off" size="2">
                                <a asp-controller="Cart"
                                   asp-action="DecrementFromCart"
                                   asp-route-id="@item.Id"
                                   class="cart_quantity_down">
                                    -
                                </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            @((itemsCount * item.Price).ToString("C"))
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete"
                               asp-controller="Cart"
                               asp-action="RemoveFromCart"
                               asp-route-id="@item.Id">
                                <i class="fa fa-times"></i>
                            </a>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Оформите ваш заказ</h3>
        </div>
        <partial name="Partial/_Order" model="Model.OrderViewModel" view-data="@(new ViewDataDictionary(ViewData) {{"sumCart", sumCart}})"/>
    </div>
</section><!--/#do_action-->